/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}
.main_wrapper {
    width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    width: 200px;
    height: 100px;
}
nav {
    width: 400px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-size: large;
}
nav ul a {
    color: black;
    text-decoration: none;
}
nav ul a:hover {
    text-decoration: underline;
    color: darkgrey
}
.userIcon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 165px;
}
.userIcon img {
    width: 40px;
    height: 40px;
}
.underHeader h1 {
    color: rgb(3, 3, 100);
}
.mainContentWrapper {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
}
.fullCntn {
    margin-left: 15px;
    padding: 30px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    height: 300px;
    width: 200px;
}
.fullCntn .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fullCntn .head p {
    color: grey;
}
.content ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.content ul input {
    margin: 0;
}
.searchWrapper {
    margin: 40px 20px 20px 20px;
    width: 950px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.WrapperForSearch {
    background-color: whitesmoke;
    display: flex;
    justify-content: end;
}
.searchLine {
    background-color: white;
    display: flex;
    align-items: center;
    width: 750px;
    border: solid 1px lightgrey;
    border-radius: 5px;
    padding: 5px;
}
.searchLine:active {
    outline: 1px solid lightblue;
}
.searchLine input {
    border: none;
    outline: none;
    width: 750px;
    height: 30px;
    margin-left: 5px;
}
.searchWrapper #btn {
    background: rgb(3, 3, 100);
    color: white;
    box-shadow: 1px blue;
    width: 150px;
}
.boxForContainers {
    display: flex;
    flex-direction: column;

}
#show_more {
    display: none;
}
.job {
    border: solid 1px lightgrey;
    border-radius: 5px;
    background-color: white;
    padding-left: 30px;
    margin: 0 20px 20px 20px;
    width: 918px;
}
.job :any-link:hover {
    text-decoration: underline;
}
.job :any-link {
    text-decoration: none;
    color: black;
}
.allBtn {
    margin: 0 20px 20px 20px;
    color: rgb(56, 54, 54);
    display: flex;
    align-items: center;
}
.allBtn #kirby {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
.allBtn #kirby2 {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}