body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}
.main_wrapper {
    width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    width: 200px;
    height: 100px;
}
nav {
    width: 400px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-size: large;
}
.userIcon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 165px;
}
.userIcon img {
    width: 40px;
    height: 40px;
}
.underHeader h1 {
    color: rgb(3, 3, 100);
}
.mainContentWrapper {
    background-color: whitesmoke;
    display: flex;
    justify-content: end;
    /* flex-direction: column; */
}
.contentColumn {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 274px;
}
.fullCntn {
    margin: 30px;
}
.contentColumn .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contentColumn .head p {
    color: grey;
}
.content ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.content ul input {
    margin: 0;
}
.searchWrapper {
    margin: 40px 20px 20px 20px;
    width: 950px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.WrapperForSearch {
    background-color: whitesmoke;
    display: flex;
    justify-content: end;
}
.searchLine {
    background-color: white;
    display: flex;
    align-items: center;
    width: 750px;
    border: solid 1px lightgrey;
    border-radius: 5px;
    padding: 5px;
}
.searchLine input {
    border: none;
    width: 750px;
    height: 30px;
    margin-left: 5px;
}
.searchWrapper #btn {
    background: rgb(3, 3, 100);
    color: white;
    box-shadow: 1px blue;
    width: 150px;
}
.firstContainer {
    border: solid 1px lightgrey;
    border-radius: 5px;
    background-color: white;
}